<section class="container-fluid">
  <div class="row">
    

    <!-- START: CONTAINER-LEFT -->
    <section class="container-left col-sm-5">

<!-- START: PHOTO -->
        <section class="container-icon-user">

          <img id="icon-user" src="assets/img/icon-user.png" alt="">

          <input id="imageUpload" type="file" name="user-photo" placeholder="Foto del usuario" required capture>

        </section>
        <!-- END: PHOTO -->

        <section class="container-user-name">
          <h2>Hola, Jorge</h2>
        </section>




        <!-- START: NAVIGATION -->
        <nav class="container-left-nav">
		
					<ul>
						<li><a href="#">Mi cuenta</a></li>
						<li><a href="#">Mis cursos</a></li>
						<li><a href="#">Certificaciones</a></li>
					</ul>

        </nav>
        <!-- END: NAVIGATION -->

    </section>
    <!-- END: CONTAINER-LEFT -->


    
    <!-- START: CONTAINER-RIGHT -->
    <section class="container-right col-sm-7 d-flex align-items-center justify-content-center">

      <!-- Start: Form -->
      <!-- Do I really need this class (container-right-form?) -->
      <article class="container-right-form">

        

        <!-- START: Angular component goes here -->

          <!-- START: FORM -->
          <form>

            <img src="assets/img/icon-confirm.png" alt="" class="img-fluid mx-auto d-block">


            <h3 class="container-form-heading">Tu contraseña <br>ha sideo actualizada</h3>

            <!-- BUTTONS -->
            <button type="submit" class="btn-registration">Aceptar</button>

          </form>
          <!-- END: FORM -->
    
        <!-- ENDs: Angular component goes here -->  


      

      </article>
      <!-- End: Form -->

    </section>
    <!-- END: CONTAINER-RIGHT -->

  </div>
</section>
