<section class="container-fluid">
  <div class="row">
    

    <!-- START: CONTAINER-LEFT -->
    <section class="container-left col-sm-5">

<!-- START: PHOTO -->
        <section class="container-icon-user">

          <img id="icon-user" src="assets/img/icon-user.png" alt="">

          <input id="imageUpload" type="file" name="user-photo" placeholder="Foto del usuario" required capture>

        </section>
        <!-- END: PHOTO -->

        <section class="container-user-name">
          <h2>Hola, Jorge</h2>
        </section>




        <!-- START: HEADING -->
        <section class="container-left-heading">
		
					<ul>
						<li>Mi cuenta</li>
						<li>Mis cursos</li>
						<li>Certificaciones</li>
					</ul>

        </section>
        <!-- END: HEADING -->

    </section>
    <!-- END: CONTAINER-LEFT -->


    
    <!-- START: CONTAINER-RIGHT -->
    <section class="container-right col-sm-7 d-flex align-items-center justify-content-center">

      <!-- Start: Form -->
      <!-- Do I really need this class (container-right-form?) -->
      <article class="container-right-form">

        <!-- START: LOGO -->
        <nav class="navbar">
          <a class="navbar-brand" href="#">
            <img src="assets/img/logo2.jpg" alt="">
          </a>
        </nav>
        <!-- END: LOGO -->

        

        <!-- START: Angular component goes here -->

          <!-- START: FORM -->
          <form>
           
           <section >
              <a class="container-logo" href="#">
                <img src="assets/img/icon-confirm.png" alt="">
              </a>
            </section>
            <!-- END: LOGO -->

            <h3 class="heading-para">Tu contraseña ha sido <br>modificada con éxito.</h3>



            <!-- BUTTONS -->
            <button type="submit" class=" btn-registration"><a href="art16.html">Ingresar</a></button>

          </form>
          <!-- END: FORM -->
    
        <!-- ENDs: Angular component goes here -->  


      

      </article>
      <!-- End: Form -->

    </section>
    <!-- END: CONTAINER-RIGHT -->


  </div>
</section>