/*------------------------------------*\
  #BUTTONS
\*------------------------------------*/

// TO GENERIC; SEPARATE TO BUTTONS FOR DIFFERENT COMPONENTS 

.btn-registration {
  font-size: 2.66rem;
  font-weight: 400;
  text-transform: uppercase;

  background-size: 200% auto;
  border-radius: 50rem;
  outline: none;

  display: block;
  width: 20rem; 

  padding: 1.5rem 0 1.5rem 0;

  transition: .5s;

  margin: 0 auto;
}

.btn-registration {
  border: none;
  margin-top: 4rem;
  color: #fff;
  background-image: linear-gradient(to right,  #6497EF 0%, #43C6E9 51%, #6497EF 100%);
}

  .btn-registration:hover {
    background-position: right center;
  }



/*------------------------------------*\
  #MEDIA QUERIES
\*------------------------------------*/
// Optimize code

// MOBILE
@media (max-width: 767.98px) {
  .btn-registration,
  .btn-registration:focus, 
  .btn-registration:active {
    font-size: 2rem;
    padding: .9rem 0 .9rem 0;
    width: 32rem;
  }
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 767.98px) and (max-width: 1199.98px) {
  .btn-registration, 
  .btn-registration:focus, 
  .btn-registration:active {
    font-size: 2.4rem;
    padding: 1.2rem 0 1.2rem 0;
    width: 38rem;
  }
}
