<section class="container-fluid">
  <div class="row">
    

    <!-- START: CONTAINER-LEFT -->
    <section class="container-left col-md-5 col-lg-6 col-xl-7">

      <!-- Start: Logo -->
      <nav class="container-left-logo navbar">
        <a href="#" class="navbar-brand">
          <img src="assets/img/logo.png" alt="Logotipo de la Oceano medicina">
        </a>
      </nav>
      <!-- End: Logo -->

      <!-- Start: Heading -->
      <section class="container-left-heading">
        <h1>Bienvenido</h1>
        <h2>Ingresá para ver tu cuenta y toda la información relevante sobe medicina</h2>
      </section>
      <!-- End: Heading -->

    </section>
    <!-- END: CONTAINER-LEFT -->


    
    <!-- START: CONTAINER-RIGHT -->
    <section class="container-right col-md-7 col-lg-6 col-xl-5 d-flex align-items-center justify-content-center">

      <!-- Start: Form -->
      <!-- Do I really need this class (container-right-form?) -->
      <article class="container-right-form">

        

        <!-- START: Angular component goes here -->

          <!-- START: FORM -->
          <form>
            <h3 class="container-form-heading">Tu cuenta ha sido registrada</h3>

            <!-- BUTTONS -->
            <button type="submit" class=" btn-registration">Ingresar</button>

          </form>
          <!-- END: FORM -->
    
        <!-- ENDs: Angular component goes here -->  


      

      </article>
      <!-- End: Form -->

    </section>
    <!-- END: CONTAINER-RIGHT -->


  </div>
</section>