@import '~scss/base/typography';
@import '~scss/layout/register-layout-left';
@import '~scss/layout/register-layout-right';
// @import '~scss/layout/register-layout-form';
@import '~scss/forms/form-initiation';
@import '~scss/forms/form-password-3';
@import '~scss/components/buttons';