<section class="container-fluid">
  <div class="row">
    

    <!-- START: CONTAINER-LEFT -->
    <section class="container-left col-md-5 col-lg-6 col-xl-7">

      <!-- Start: Logo -->
      <nav class="container-left-logo navbar">
        <a href="#" class="navbar-brand">
          <img src="assets/img/logo.png" alt="Logotipo de la Oceano medicina">
        </a>
      </nav>
      <!-- End: Logo -->

      <!-- Start: Heading -->
      <section class="container-left-heading">
        <h1>Bienvenido</h1>
        <h2>Ingresá para ver tu cuenta y toda la información relevante sobe medicina</h2>
      </section>
      <!-- End: Heading -->

    </section>
    <!-- END: CONTAINER-LEFT -->


    
    <!-- START: CONTAINER-RIGHT -->
    <section class="container-right col-md-7 col-lg-6 col-xl-5 d-flex align-items-center justify-content-center">

      <!-- Start: Form -->
      <!-- Do I really need this class (container-right-form?) -->
      <article class="container-right-form">

        

        <!-- START: Angular component goes here -->

          <!-- START: FORM -->
          <form>
            <section class="form-group">
              <label for="exampleInputUser">Nombre de usuario</label>
              <input type="text" class="form-control" id="exampleInputUser" aria-describedby="userName" placeholder="Nombre de usuario" required>
            </section>

            <section class="form-group">
              <label for="exampleInputEmail1">Correo electrónico</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo electrónico" required>
            </section>

            <section class="form-group">
              <label for="exampleInputPassword1">Contraseña</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" required>
            </section>

            <!-- SELECTION BOX -->
            <section class="form-group">
              <label for="exampleInputCategory">Categoría</label>
              <select class="form-control">
                <option>Médico - testing 1</option>
                <option>Médico - testing 2</option>
                <option>Médico - testing 3</option>
              </select>
            </section>


            <!-- BUTTONS -->
            <button type="submit" class=" btn-registration"><a href="registro1.html">Registrarse</a></button>

            <button type="submit" class=" btn-enter"><a href="registro1.html"></a>Ingresar</button>

          </form>
          <!-- END: FORM -->
    
        <!-- ENDs: Angular component goes here -->  


      

      </article>
      <!-- End: Form -->

    </section>
    <!-- END: CONTAINER-RIGHT -->


  </div>
</section>