<!-- <app-register-layout></app-register-layout>
<app-registration-1></app-registration-1>
<app-registration-2></app-registration-2>
<app-registration-3></app-registration-3>
<app-registration-4></app-registration-4>
<app-registration-5></app-registration-5>
<app-registration-6></app-registration-6>
<app-registration-7></app-registration-7>
<app-registration-8></app-registration-8> 


<app-change-password-1></app-change-password-1>
<app-change-password-2></app-change-password-2>
<app-change-password-3></app-change-password-3>
<app-change-password-4></app-change-password-4>
<app-change-password-5></app-change-password-5>



<app-campus-password-1></app-campus-password-1> 
<app-campus-password-2></app-campus-password-2> -->

<app-campus-password-3></app-campus-password-3>