<section class="container-fluid">
  <div class="row">
    

    <!-- START: CONTAINER-LEFT -->
    <section class="container-left col-md-5 col-lg-6 col-xl-7">

      <!-- Start: Logo -->
      <nav class="container-left-logo navbar">
        <a href="#" class="navbar-brand">
          <img src="assets/img/logo.png" alt="Logotipo de la Oceano medicina">
        </a>
      </nav>
      <!-- End: Logo -->

      <!-- Start: Heading -->
      <section class="container-left-heading">
        <h1>Bienvenido</h1>
        <h2>Ingresá para ver tu cuenta y toda la información relevante sobe medicina</h2>
      </section>
      <!-- End: Heading -->

    </section>
    <!-- END: CONTAINER-LEFT -->


    
    <!-- START: CONTAINER-RIGHT -->
    <section class="container-right col-md-7 col-lg-6 col-xl-5 d-flex align-items-center justify-content-center">

      <!-- Start: Form -->
      <!-- Do I really need this class (container-right-form?) -->
      <article class="container-right-form">

        

        <!-- START: Angular component goes here -->

          <!-- START: FORM -->
          <form>
            <h3 class="heading-para">Selecciona si pertenece a algún <br>Colegio de médicos y/o Sociedad</h3>

            <div class="form-group">

              <section class="list-container">

        				<ul class="list-group">
        				  <li class="list-group-item">
        				  	<a href="">Colegio 1</a>
        				  </li>
        				  <li class="list-group-item">
        				  	<a href="">Colegio 2</a>
        				  </li>
        				  <li class="list-group-item">
        				  	<a href="">Colegio 3</a>
        				  </li>
        				  <li class="list-group-item">
        				  	<a href="">Colegio 4</a>
        				  </li>
        				  <li class="list-group-item">
        				  	<a href="">Colegio 5</a>
        				  </li>
        				  <li class="list-group-item">
        				  	<a href="">Colegio 6</a>
        				  </li>
        				  <li class="list-group-item">
        				  	<a href="">Sociedad 7</a>
        				  </li>
        				  <li class="list-group-item">
        				  	<a href="">Sociedad 8</a>
        				  </li>
        				  <li class="list-group-item">
        				  	<a href="">Sociedad 9</a>
        				  </li>
        				  <li class="list-group-item">
        				  	<a href="">Sociedad 10</a>
        				  </li>
        				  <li class="list-group-item">
        				  	<a href="">Sociedad 11</a>
        				  </li>
        				  <li class="list-group-item">
        				  	<a href="">Sociedad 12</a>
        				  </li>
                  <li class="list-group-item">
        				  	<a href="">Sociedad 9</a>
        				  </li>
        				  <li class="list-group-item">
        				  	<a href="">Sociedad 10</a>
        				  </li>
        				  <li class="list-group-item">
        				  	<a href="">Sociedad 11</a>
        				  </li>
        				  <li class="list-group-item">
        				  	<a href="">Sociedad 12</a>
        				  </li>
                  <li class="list-group-item">
        				  	<a href="">Sociedad 9</a>
        				  </li>
        				  <li class="list-group-item">
        				  	<a href="">Sociedad 10</a>
        				  </li>
        				  <li class="list-group-item">
        				  	<a href="">Sociedad 11</a>
        				  </li>
        				  <li class="list-group-item">
        				  	<a href="">Sociedad 12</a>
        				  </li>
                  <li class="list-group-item">
        				  	<a href="">Sociedad 9</a>
        				  </li>
        				  <li class="list-group-item">
        				  	<a href="">Sociedad 10</a>
        				  </li>
        				  <li class="list-group-item">
        				  	<a href="">Sociedad 11</a>
        				  </li>
        				  <li class="list-group-item">
        				  	<a href="">Sociedad 12</a>
        				  </li>
        				</ul>

        			</section>

            </div>



            <!-- BUTTONS -->
            <button type="submit" class=" btn-registration"><a href="registro3.html">Siguiente</a></button>

          </form>
          <!-- END: FORM -->
    
        <!-- ENDs: Angular component goes here -->  


      

      </article>
      <!-- End: Form -->

    </section>
    <!-- END: CONTAINER-RIGHT -->


  </div>
</section>